<!-- available emoji {{(emojis|async).length}} -->
<div>
    <div>
        <button (click)="totwemoji(list)" title='may take a wihile on a large selection!'>Twitter-look</button>
        <select #sel value='Activities'>
            <option value=""> --- alll --- </option>
            <option *ngFor='let group of groups' [value]="group">{{group}}</option>
        </select>
        <select #selsub>
            <option value=""> --- alll --- </option>
            <option *ngFor='let subgroup of subgroups|async' [value]="subgroup">{{subgroup}}</option>
        </select>


    </div>
    <div #list>
        <emoji-icon *ngFor='let emoji of emojis |async ' [title]="emoji.tags.join(' ')" [emoji]='emoji'>
        </emoji-icon>
    </div>
</div>
<!-- <ul>
  <li *ngFor='let emoji of emojis|async'>{{emoji|json}}</li>
</ul> -->

<!-- <pre>
<code>{{emojis|json:true}}</code>
</pre> -->
